@import url(https://fonts.googleapis.com/css?family=Quicksand);

* {
	box-sizing: border-box;
}

body {	
	font-family: Quicksand;
	margin: 10px;
	padding: 0;
	background-color: lightblue;
}

h1 {
	text-align: center;
	margin: 10px;
}
.column {
	float: left;
	width: 20%;
	height: 700px;
	text-align: center;
	text-transform: uppercase;
	border-left: 1px solid black;
	margin: 10px;
}

ul {
	min-height: 100px;
}

li {
	margin: 10px;
	padding: 10px;
	background: lightgreen;
	display: inline-block;
	text-align: left;
	min-width: 250px;
	min-height: 100px;
}

.board > button, 
.column > button {
	border: none;
	padding: 10px;
	margin: 15px;
	font-size: 20px;
	font-family: Quicksand;
	border-radius: 8px;
	text-transform: uppercase;
	background: violet;
}

.card > button {
	border: none;
	font-family: Quicksand;
	text-transform: uppercase;
	background: darkgreen;
	color: white;
}

.card-placeholder {
	background: grey;
}